@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body, html {
    background: #000;
    height: 100%;
    display: grid;
    font-family: 'Open Sans Condensed', sans-serif;
}

main {
    background: #333;
    width: 300px;
    border-radius: 5px;
    padding: 0;
    margin: auto;
    text-align: center;
}

#result {
    color: #fff;
    background: #828282;
    border-radius: 5px 5px 0 0;
    text-align: end;
    padding: 10px 20px;
    font-size: 3vw;
}


.buttons {
    background: #ccc;
    color: #000;
    width: 76px;
    padding: 20px;
    border: 1px solid #828282;
    margin: 0 -2px;
    font-size: 2vw;
}

.calculators {
    background: #f59220;
    color: #fff;
    width: 76px;
    border: 1px solid #828282;
    padding: 20px;
    margin: 0 -3px;
    font-size: 2vw;
}

.calculators:last-child {
    border-radius: 0 0 5px 0;
}
.buttonO {
    background: #ccc;
    color: #000;
    width: 151px;
    padding: 20px;
    border: 1px solid #828282;
    margin: 0 -2px;
    font-size: 2vw;
    border-radius: 0 0 0 5px;
}
